.composite-glyph {
  position: relative;
  width: 1em; // controlled by font size in parent

  img {
    position: absolute;
    width: 100%;
  }
}

.tens {
  transform: scaleX(-1)
}

.hundreds {
  transform: scaleX(-1) rotate(180deg);
}

.thousands {
  transform: rotate(180deg);
}
