<div class="composite-glyph">
  <img *ngIf="thousands" class='thousands' [src]="'assets/glyphs/'+ thousands + '.svg'" alt="4">
  <img *ngIf="hundreds"  class='hundreds' [src]="'assets/glyphs/'+ hundreds + '.svg'" alt="3">
  <img *ngIf="tens" class='tens' [src]="'assets/glyphs/'+ tens + '.svg'" alt="2">
  <img *ngIf="ones" class='ones' [src]="'assets/glyphs/'+ ones + '.svg'" alt="1">
</div>
<!--<pre>-->
<!--  {{thousands}}-->
<!--  {{hundreds}}-->
<!--  {{tens}}-->
<!--  {{ones}}-->
<!--</pre>-->
<!--<pre>-->
<!--  {{value}}-->
<!--</pre>-->
